section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px auto;
    font-size: 8em;
}
h2 {
    margin: 20px auto;
    font-size: 2.4em;
}

.banner {
    position: relative;
    background-color: transparent;
    text-align: center;
    padding: 3em 0;
}
.banner::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    filter: blur(3px);

    background-image: url("https://i.redd.it/hey-i-just-realised-that-minecraft-dropped-wallpapers-for-v0-af632nce2dud1.jpg?width=3840&format=pjpg&auto=webp&s=102770acfd3d1534ba97f09cfcaab822e6485b9e");
    background-size: cover;
}
.banner img {
    border-radius: 100%;
    width: 14em;
    height: 14em;
}
.banner a {
    border-radius: 100%;
    border: #fff 5px solid;
    text-decoration: none;
    transition: transform, color 0.3s, 0.3s ease-in-out;
}
.banner a:hover {
    transform: scale(1.1);
    border-color: #fdf;
    filter: drop-shadow(0 0 10px #fdf);
}

.section1 {
    background-color: #334;
}
.section2 {
    background-color: #223;
}


.vbar {
    margin: 10px 0;
    height: 20em;
    border: 1px solid #989;
    align-self: center;
    opacity: 0.5;
}

.interests {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 100%;
}

.interests img {
    max-height: 15em;
    width: auto;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
}
.interests.skills img {
    max-height: 8em;
}
.interests img:hover {
    transform: scale(1.05);
}

.interests h3 {
    margin-top: 0.8em;
    margin-bottom: 0;
    font-size: 1.8em;
}
.interests p {
    margin: 0.8em auto;
}

.interest {
    max-width: 40%;
}
.interest.skill {
    max-width: 25%;
}

.skills img {
    width: 25%;
}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 3em;
}
.interest p {
    font-size: 1.2em;
    text-align: center;
    max-width: 90%;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
